{% extends 'inheritance.html' %}
{% load static %}
{% block content %}

<body style="color:white">
</br>
    <center>
    <hr>
        <h3> CASINO ROYALE </h3>
    <hr>
        <h6> Daniel Craig | 2006 | 21/25</h6>
    <hr>
        <h6 style="color:gold"> £25.99 </h6>
    </br>
    <hr>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/36mnx8dBbGE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr>
    {% if request.user.is_authenticated %}
        <a class='btn btn-outline-success' href="{% url 'PRODUCTS:add_to_cart' 5 %}"> ADD TO CART </a>
    {% else %}
        <a class='btn btn-outline-success' href="/login"> LOGIN OR CREATE AN ACCOUNT TO SHOP </a>
    {% endif%}

    </center>
</body>
{% endblock %}