{% extends 'inheritance.html' %}
{% load static %}
{% block content %}

<body style="color:white">
 <center>
    </br>
    <hr>
    <h3> FILMS | DANIEL CRAIG AT HIS BEST </h3>
    </br>
    <hr>
    <hr>
    <h5 style="color:gold">  25 | NO TIME TO DIE </h5>
    </br>
        <a href="/notimetodie">
            <img src="{% static 'images/notimetodie.jpg' %}" width="450" height="270">
        </a>
    <hr>
    <hr>
    </br>
    <h5 style="color:gold">  24 | SPECTRE </h5>
    </br>
        <a href="/spectre">
            <img src="{% static 'images/spectre.jpg' %}" width="450">
        </a>
    <hr>
    </br>
    </br>
    <h5 style="color:gold">  23 | SKYFALL </h5>
    </br>
        <a href="/skyfall">
            <img src="{% static 'images/skyfall.jpg' %}", width="450">
        </a>
    <hr>
    </br>
    </br>
    <h5 style="color:gold">  22 | QUANTUM OF SOLACE </h5>
    </br>
        <a href="/quantumofsolace">
            <img src="{% static 'images/quantum.jpg' %}", width="450">
        </a>
    <hr>
    </br>
    </br>
    <h5 style="color:gold">  21 | CASINO ROYALE </h5>
    </br>
        <a href="/casinoroyale">
            <img src="{% static 'images/casino.jpg' %}", width="450">
        </a>
    <hr>
    <hr>
    <hr>
    <hr>
    <hr>
 </center>
</body>
{% endblock %}